.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 3;
}
.border {
  background: linear-gradient(229.82deg, #ffffff 7.92%, #4b4b4b 66.55%);
  padding: 1px;
}
.modal {
  border: 2px solid #4b4b4b;
  border-radius: 4px;
  position: absolute;
  padding: 4px 90px 40px 30px;
  display: inline-block;
  background: rgba(47, 47, 47, 0.9);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  left: 35vw;
  top: 16vh;
}
.h3 {
  margin-top: 25px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #ffffff;
}
.entr {
  background-color: rgba(119, 254, 249, 0.08);
  margin-bottom: 1rem;
  color: rgba(119, 254, 249);
}
.said {
  background-color: rgba(138, 143, 252, 0.08);
  color: rgba(138, 143, 252);
}
.entr,
.said {
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}
.entr input,
.said input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/* border: 2px solid;
border-image-source: linear-gradient(215.74deg, #FFFFFF 12.27%, #4B4B4B 63.54%); */

