* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #2f2f2f;
  margin: 20px 73px;
  color: #141414;
  overflow: hidden;
}
main {
  margin: 0 2.25rem;
}
header {
  margin-bottom: 35px;
  text-align: center;
  border-radius: 4px;
  background: radial-gradient(
      15.7% 194.02% at 3.25% -75.64%,
      #f7fbff 36.93%,
      rgba(119, 254, 249, 0) 100%
    ),
    radial-gradient(
      9.35% 113.25% at 33.85% 100%,
      #f7fbff 0%,
      rgba(247, 251, 255, 0) 100%
    ),
    radial-gradient(
      15.19% 222.65% at 17.81% -122.65%,
      #8a8ffc 27.04%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      15.65% 134.79% at 63.68% 0%,
      #f7fbff 0%,
      rgba(154, 119, 254, 0) 100%
    ),
    radial-gradient(
      26.12% 221.87% at 104.56% 79.06%,
      #8a8ffc 20.37%,
      #77fef9 100%
    );
  position: relative;
  overflow: hidden;
}
header h1 {
  margin: 34px 0 44px 0;
  position: relative;
  z-index: 2;
}

header:after {
  content: "";
  position: absolute;
  background: url("./assets/bgAsset.png") no-repeat;
  width: 100%;
  height: 100%;
  bottom: 20px;
  left: 106px;
}
.container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 25px;
}
.containerPanels {
  display: flex;
  gap: 50px;
}
.panel {
  box-sizing: border-box;
  padding: 16px 22px;
  border: 2px solid;
  min-width: 335px;
  border-radius: 4px;
}
.panel div {
  display: flex;
  justify-content: space-between;
}
.panel span {
  font-size: 1.875rem;
  font-weight: bold;
  display: block;
  margin: 1.875rem 0 18px;
}
.entrada {
  border-color: #77fef9;
  color: #77fef9;
}
.saida {
  border-color: #8a8ffc;
  color: #8a8ffc;
}
.total {
  border-color: #f7fbff;
  color: #f7fbff;
}
.add {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  transition: all 0.3s ease-in-out;
  color: #141414;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #434343, #434343 100%);
  padding: 0.375rem 0.625rem 0.475rem;
}
.add svg {
  margin-right: 25px;
}
.add:hover {
  background: linear-gradient(90deg, #6a6c6d, #2f2f2f 100%);
  cursor: pointer;
}
.btnGamb {
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(270deg, #f6fafe 0%, #4b4b4b 100%);
}
.btnGamb:hover {
  background: linear-gradient(270deg, #f6fafe 0%, #f6fafe 100%);
}

.tableContents {
  display: flex;
  gap: 50px;
}
.table {
  margin-top: 50px;
  width: 100%;
}
.tbody {
  margin: 0 18px;
}
.m {
  margin-left: 18px;
}
.tbody .row.saida {
  color: #8a8ffc;
  background: rgba(138, 143, 252, 0.08);
}
.row.saida:hover {
  border: 1px solid #8a8ffc;
}
.row.entrada:hover {
  border: 1px solid #77fef9;
}
.tbody .row {
  font-size: 18px;
  padding: 11px 20px;
  border-radius: 8px;
  border: 1px solid #2f2f2f;
}
.tbody .row.entrada {
  background: rgba(119, 254, 249, 0.08);
  color: #77fef9;
}
.header {
  color: #f6fafe;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid #777777;
  background: none !important;
}
.row {
  padding: 16px 21px;
  display: grid;
  margin: 14px 0;
  grid-template-columns: repeat(4, 1fr);
}
.dir {
  text-align: right;
}
.s {
  padding-top: 7px;
}

